.post-content {
	h1 {
		font-size: 36px;
		font-weight: bold;
	}
	p {
		font-family: Georgia, Cambria, "Times New Roman", Times, serif;
		font-size: 21px;
		line-height: 1.5em;
	}
}

.post-footer {
	padding-top: 20px;
}

.postActionsFooter-social {
	i {
		font-size: 1.7em;
	}
}

.postComments {
	padding-top: 20px;
}

.buttonSet {
	display: inline-block;
	margin-right: 8px;
}
.buttonSet-inner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}