.post-footer {
	padding-top: 20px;
}

.postActionsFooter-social {
	i {
		font-size: 1.7em;
	}
}

.postComments {
	padding-top: 20px;
}

.buttonSet {
	display: inline-block;
	margin-right: 8px;
}
.buttonSet-inner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}